html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding:  0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
img{}
*{
    box-sizing:  border-box;
    color: #626567;
    
}


.container{width:  1000px;margin: 0 auto;overflow:  hidden;}
header{
    width:  100%;
    padding: 30px 0px;
}
.logo{
    width:  20%;
    float:  left;
    padding-left:  10px;
}
nav{
    width:  80%;
    float:  left;
}
nav ul {
    margin:  0;
    padding:  0;
    text-align:  right;
}
nav ul li {
    list-style-type:  none;
    display:  inline;
    padding-right: 40px;
}

nav ul li a {

text-decoration:  none;

color:  #626567;
}
a:hover {
    color: darkgrey;
}

.banner{
    padding-top:  15px;
}
.main-content{
    padding: 38px;
}
span {
    color:  #d1d1d1;
}
.main-content p {color:  #626567;text-align: justify;}
.main-content a {
    color: #d1d1d1;
    text-decoration:  none;
}

.blog{
    width:  100%;
    padding: 38px;
    overflow: hidden;
}
.blog1{
    width:  50%;
    float:  left;
    text-align: justify;
    padding-right:  40px;
}
.blog1 span{
    color: #d1d1d1;
}
.blog2 span{
    color: #d1d1d1;
}
.blog2{
    width:  50%;
    float:  left;
    padding-right: 40px;
    text-align: justify;
}
footer{height: 75px;background-color:  gray;float:  left;width:  100%;text-align:  center;margin-top:  25px;}
footer p {
    text-transform:  uppercase;
    padding-top:  20px;
    color: #323232;
}
hr{
    color: grey;
    margin: 40px;
}
.contact{
    height: 500px;
    width: 100%;
    margin: 20px 0 20px 0;
}
.contact-left{
    width: 50%;
    height: 100%;
    float: left;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;
}
.contact-right{
    width: 50%;
    height: 100%;
    float: left;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}
.t-center{
    text-align: center;
}
 .feedback{
     margin-top: 50px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
.feedback-form{
    width: 50%;
}



input[type=text],input[type=email], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
 
  input[type=submit] {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: darkgrey;
  }


