body{
    background-color: #ECF7F3;
    
}

header{
    height: 100%;
    width: 100%;
    
}
.d-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: cent
}
.logo{
    margin: 95px 0px;
}