/*----------------------------------
  #COLORS
----------------------------------*/

// Set up a colour palette which allows us to theme the entire project from one
// location.

// Colour palette.

$color-white     : #ffffff;
$color-primary   : #181c2f;
$color-theme     : #302ea7;
$color-secondary : #8b91a0;

