/*------------------------------------------------------------------
    #Main-Stylesheet
------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Project Information]

Project:    Ghappush
Version:    1.0
Last change:    24/03/17
Author Name: Author Name
Primary use:    Project Type
------------------------------------------------------------------*/


/*------------------------------------------------------------------
[CONTENTS]

--->Custom...............Custom-specific theming and config.
    All..................Because our Settings layer doesn’t actually produce any
                         CSS, we can safely glob all of the files into one import
                         without risk of bloating our compiled stylesheet. This
                         also allows us to easily recycle all of our
                         project-level settings into other Sass file/projects.
                         Please see `settings/_all.scss` for a full table of
                         contents.

--->TOOLS
    All..................Because our Tools layer doesn’t actually produce any
                          CSS, we can safely glob all of the files into one import
                          without risk of bloating our compiled stylesheet. This
                          also allows us to easily recycle all of our
                          project-level tooling into other Sass file/projects.
                          Please see `tools/_all.scss` for a full table of
                          contents.

--->GENERIC
    Box-sizing...........Better default `box-sizing`.
    Normalize.css........A level playing field.
    Reset................A pared back reset to remove margins.
    Shared...............Sensibly and tersely share global commonalities.



------------------------------------------------------------------*/
 


/*----------------------------------------------------------------- 
[Font Family]

font-family: 'Hind Siliguri', sans-serif;

------------------------------------------------------------------*/
 

//@import "settings/settings.custom";
@import "settings/all";





@import "tools/all";





@import "generic/generic.box-sizing";
@import "generic/generic.normalize";
@import "generic/generic.reset";





@import './elements/elements';





@import './objects/objects';





@import './components/components';





@import './utilities/utilities';


